@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @{
        Dictionary<object, List<object>> dico1 = new Dictionary<object, List<object>>();
        List<object> values1 = new List<object>() { "value1", "value2", "value3" };
        List<object> values2 = new List<object>() { "value4", "value5", "value6" };
        dico1.Add("key1", values1);
        dico1.Add("key2", values2);

        // Création du deuxième dictionnaire
        Dictionary<object, List<object>> dico2 = new Dictionary<object, List<object>>();
        List<object> values3 = new List<object>() { "value2", "value3", "value7" };
        List<object> values4 = new List<object>() { "value5", "value6", "value8" };
        dico2.Add("key1", values3);
        dico2.Add("key3", values4);

        // Appel de la méthode de comparaison
        Dictionary<object, List<object>> result = CompareDictionary.DictionariesEqual(dico1,dico2);
    }
        
    <h3>Différences entre les deux dictionnaires :</h3>
    <ul>
        @foreach (var element in result)
        {
            <li>
                <strong>Clé : @element.Key</strong>
                <ul>
                    @foreach (object value in element.Value)
                    {
                        <li>@value</li>
                    }
                </ul>
            </li>
        }
    </ul>
        
</div>
</body>
</html>